
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-size: 13pt;
}


header {
  background-color: #007acc;
  color: rgb(253, 252, 252);
  padding: 2rem;
  text-align: center
}


nav {
  background-color: #333;
  padding: 0.5rem;
  text-align: center
}

nav a {
  color: white;
  margin: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 2rem;
  margin: 1rem;
  background-color: rgb(214, 231, 185);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


footer {
  text-align: center;
  padding: 1rem;
  background-color: #007acc;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
